.idea/
target
build
/.vs/projfair-e2eright.slnx/config/applicationhost.config
/.vs/projfair-e2eright.slnx/FileContentIndex
/.vs/projfair-e2eright.slnx/v18/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
